@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text">
    <h1>@ViewData["Title"]</h1>

    <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean orci ex, mattis in quam vitae.
    </p>


</div>